<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>新增工作经历</title>
    {css href="/static/admin/assets/libs/layui/css/layui.css"}
</head>
<body>

<div class="layui-container" style="margin-top: 20px;">
    <div class="layui-fluid">
        <div class="layui-col-md12">
            <form class="layui-form">
                <input type="hidden" name="rid" value="{$rid}">
                <div class="layui-form-item">
                    <label class="layui-form-label">公司名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="company" required  lay-verify="required"  placeholder="公司名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职位</label>
                    <div class="layui-input-block">
                        <input type="text" name="position" required  lay-verify="required" placeholder="职位" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">工作时间</label>
                    <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                        <input type="text" class="layui-input" id="starttime" name="workdate">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">工作内容</label>
                    <div class="layui-input-block">
                        <textarea  placeholder="备注内容请勿超过三十个字" class="layui-textarea" name="jobcontent"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="save-btn">立刻提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{js href="/static/admin/assets/libs/jquery/jquery-1.11.1.min.js"}
{js href="/static/admin/assets/libs/layui/layui.all.js"}
<script>


    layui.use('laydate', function(data){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#starttime' ,//指定元素
            type: 'month',
            range: true,
            done: function(value, date, endDate){


            }
        });


    });


    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(save-btn)', function (data) {

            var index = parent.layer.getFrameIndex(window.name);

            $.ajax({
                type : 'post',
                url : '/indexresume/savework',
                data : data.field,
                dataType : 'json',
                success : function (data) {
                    if(data.status) {
                        parent.layer.msg(data.msg, {icon: 1, time: 1500});
                    } else {
                        parent.layer.msg(data.msg, {icon: 2, time: 1500});
                    }
                    //关闭iframe
                    setTimeout(function(){
                        parent.location.reload();
                        parent.layer.close(index);
                    },2000);
            },
                error: function () {
                    layer.msg('aJax执行失败!');
                }
            });

        return false;
        });
    });
</script>
</body>
</html>

