{extend name="main/index" /}
{block name="main"}
<!-- Start right content -->
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start Content here -->
    <!-- ============================================================== -->
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header transparent">
                        <h2><strong>权限</strong> 列表</h2>
                        <div class="additional-btn">
                            <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="data-table-toolbar">
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-8">
                                    <div class="toolbar-btn-action">
                                        <a href="{:url('admin/node/create')}" class="btn btn-success"><i class="fa fa-plus-circle"></i>新增</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table data-sortable class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>权限描述</th>
                                    <th>模块名</th>
                                    <th>方法名</th>
                                    <th>状态</th>
                                    <th data-sortable="false">操作</th>
                                </tr>
                                </thead>

                                <tbody>
                                {volist name="list" id="v"}
                                <tr>
                                    <td>{$v.id}</td>
                                    <td><strong>{$v.name}</strong></td>
                                    <td>{$v.mname}</td>
                                    <td>{$v.aname}</td>
                                    <td>
                                        {switch name="v.status" }
                                        {case value="1" break="1"}<span class="label label-success">激活</span>{/case}
                                        {case value="0"}<span class="label label-danger">禁用</span>{/case}
                                        {default /}<span class="label label-info">未知错误</span>
                                        {/switch}
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                            <a href="{:url('admin/node/active',['id'=>$v['id'],'active'=>$v['status']])}" data-toggle="tooltip" title="禁用" class="btn btn-default"><i
                                                    class="fa fa-unlock-alt"></i></a>
                                            <a href="{:url('admin/node/edit',['id'=>$v['id']])}" data-toggle="tooltip" title="编辑" class="btn btn-default"><i
                                                    class="fa fa-edit"></i></a>
                                            <button data-toggle="tooltip" title="删除" class="btn btn-default del-btn" data-id="{$v['id']}" >
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>

                        <div class="data-table-toolbar">
                            {$list->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Content here -->
</div>

<script>
    $(function () {
        // 触发删除用户
        $('.del-btn').click(function () {
            var ac_id = $(this).attr('data-id');
            var obj = $(this).parents('tr');
            console.log(obj);
            // console.log('删除操作,ID为: ' + ac_id);
            var index = layer.confirm('你确定删除此节点吗?',{
                    btn: ['确定','取消']
                },function () {
                   delAjax(ac_id,obj) ;

                layer.close(index);
                });


        });
    });

    // 执行AJAX删除
    function delAjax(id, obj) {
        $.ajax({
            type: 'delete',
            url: '/node/' + id,
            dataType : 'json',
            success : function (data){
                // console.log(data);
                if (data.status) {
                    layer.msg(data.info, {icon: 1,time: 3000});
                    obj.remove();

                } else {
                    layer.msg(data.msg, {icon: 1,time: 3000});
                }
            },
            error : function () {
                alert('AJAX执行失败!');
            }
        });
    }

</script>
{/block}