<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta content="法力兔, falitu, 法力兔招聘, 招聘, 互联网招聘, 法力兔互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 法力兔官网, 法力兔百科, 跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招"
          name="keywords">
    <meta content="法力兔是互联网领域垂直招聘网站" name="description">
    <title>找工作-互联网招聘求职网-法力兔招招聘网</title>

    <link rel="Shortcut Icon" href="/favicon.ico">


    <!-- H5	 -->
    <!--[if lt IE 9]>
    <script src="/static/reset/js/html5shiv.min.js"></script>
    <script src="/static/reset/js/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" type="text/css" href="/static/reset/css/step1.html_aio_61da046.css"/>
</head>
<body>
<!-- 页面主体START -->
<header class="sso_header">
    <a href="{:url('index/index')}" class="logo" style="top: 50px;width: 180px;height: 150px;"></a>
</header>

<section class="content_box" id="findPwd2">
    <!-- 通过邮箱来找回密码 -->
    <div class="findPwd">
        <h5 class="change_way"><a rel="nofollow" href="{:url('index/login/index')}">返回登录</a><span
                class="separate">|</span><a class="go_phone" rel="nofollow" href="{:url('index/login/reset')}"
                                            id="go-phone">通过手机号找回</a></h5>
        <form id="myForm">
            <ul class="form_head clearfix">
                <li class="active fl">
                    <span class="icon_step step1"></span>
                    输入邮箱地址
                </li>
                <li class="fl line">
                    <span class="icon_step step2"></span>
                    验证邮箱
                </li>
                <li class="fr">
                    <span class="icon_step step3"></span>
                    重置密码
                </li>
            </ul>
            <div class="form_body" id="step1" style="display: block;">
                <div class="input_item clearfix">
                    <input type="text" class="input input_white" id="email" name="email" placeholder="请输入注册时使用的邮箱地址"
                           autocomplete="off">
                </div>
                <div class="input_item clearfix">
                    <div class="input_group clearfix">
                        <input type="text" class="input input_white" maxlength="4" id="code" name="code"
                               placeholder="请证明你不是坏人(✿◡‿◡)" autocomplete="off">
                        <img src="{:url('login/code')}" alt="点击重试"
                             onclick="this.src='{:url(\'login/code\')}'+'?'+Math.random()" width="98" height="39"
                             style="outline: none;height: 44px;width: 100px;float: right;position: absolute;right: 0;top:-3px;cursor: pointer;z-index: 1;">
                    </div>
                </div>
                <div class="input_item clearfix">
                    <input type="button" id="btn" class="btn btn_green btn_active btn_block" value="找回密码">
                </div>
            </div>
            <div class="form_body" id="step2" style="display:none">
                <div class="input_item clearfix">
                    <h3 class="reset_mail">密码重置邮件已发送至你的邮箱：<span class="des_mail"></span></h3>
                    <p class="reset_tips">请登录你的邮箱接收邮件查看验证码,并输入邮箱验证码，即可重置密码。</p>
                </div>
                <div class="input_item clearfix">
                    <input type="text" class="input input_white" maxlength="32" id="ecode" name="ecode"
                           placeholder="请输入邮箱验证码" autocomplete="off" style="text-align: center;font-weight: bold;color: mediumseagreen;">
                </div>
                <div class="input_item clearfix">
                    <input type="button" id="tbn-submit" class="btn btn_green btn_active btn_block" value="确认">
                </div>
            </div>
            <div class="form_body" id="step3" style="display:none">
                <div class="input_item clearfix">
                    <input type="password" class="input input_white" name="password" placeholder="请输入新密码" autocomplete="off">
                </div>
                <div class="input_item clearfix">
                    <input type="password" class="input input_white" name="repassword" placeholder="请再次输入新密码" autocomplete="off">
                </div>
                <div class="input_item clearfix">
                    <input type="button" id="btn-save" class="btn btn_green btn_active btn_block" value="确定">
                </div>
            </div>
        </form>
    </div>
</section>


{js href="/static/index/js/jquery.min.js"}
{js href="/static/admin/assets/js/layer.js"}

<script>
    $(function () {
        $('#btn').click(function () {
            //获取value值
            var email = $('#email');
            var code = $('#code');

            //验证手机号码长度
            if (email.val() == '') {
                layer.msg('邮箱不能为空!');
                email.focus();
                return;
            }

            //验证验证码长度
            if (code.val() == '' || code.val().length != 4) {
                layer.msg('验证码填写错误!');
                code.focus();
                return;
            }

            $.ajax({
                type: 'post',
                url: '/index/login/epassrest/',
                dataType: 'json',
                data: $('#myForm').serialize(),
                success: function (data) {

                    if (data.status == 1) {
                        $('#step1').css('display', 'none');
                        $('.line').attr('class', 'fl active line');
                        $('#step2').css('display', 'block');
                        $('.des_mail').text(email.val());
                    } else if (data.status == 2) {
                        layer.msg(data.msg);
                        return;
                    } else {
                        layer.msg(data.msg);
                        setTimeout(function () {
                            $(location).attr('href', '/register');
                        }, 2000);
                        return;
                    }
                },
                error: function () {
                    layer.msg('aJax执行失败!');
                }
            });
        });

        $('#tbn-submit').click(function () {

            $.ajax({
                type: 'post',
                url: '/index/login/epassrestsave/',
                dataType: 'json',
                data: $('#myForm').serialize(),
                success: function (data) {
                    if (data.status) {
                        $('#step1').css('display', 'none');
                        $('#step2').css('display', 'none');
                        $('.line').attr('class', 'fl active line');
                        $('#step3').css('display', 'block');
                        $('.fr').attr('class','fr active');
                    } else {
                        layer.msg(data.msg);
                        setTimeout(function () {
                            $(location).attr('href', '/login');
                        }, 2000);
                        return;
                    }
                },
                error: function () {
                    layer.msg('aJax执行失败!');
                }
            });
        });

        $('#btn-save').click(function () {

            var password = $('#password');
            var repassword = $('#repassword');

            //检测是否输入密码
            if (password.val() == '' || repassword.val() == '') {
                layer.msg('密码和确认密码不能为空!');
                return;
            }
            //检测密码是否相同
            if (password.val() !== repassword.val()) {
                layer.msg('两次输入密码不相同!');
                password.val('');
                repassword.val('');
                password.focus();
                return;
            }

            $.ajax({
                type: 'post',
                url: '/index/login/epassRestUpdate/',
                dataType: 'json',
                data: $('#myForm').serialize(),
                success: function (data) {
                    if (data.status) {
                        layer.msg(data.msg);
                        setTimeout(function () {
                            $(location).attr('href', '/login');
                        }, 2000);
                        return;
                    } else {
                        layer.msg(data.msg);
                        return;
                    }
                },
                error: function () {
                    layer.msg('aJax执行失败!');
                }
            });
        });
    });
</script>
</html>
