{extend name="main/index" /}
{block name="main"}
<!-- Start right content -->
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start Content here -->
    <!-- ============================================================== -->
    <div class="content">
        <!-- Your awesome content goes here -->
        <div class="row">

            <div class="col-sm-12 portlets">

                <div class="widget">
                    <div class="widget-header transparent">
                        <h2><strong>添加</strong> 分类</h2>
                        <div class="additional-btn">
                            <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                        </div>
                    </div>
                    <div class="widget-content padding">
                        <div id="basic-form">
                            <form role="form" action="{:url('admin/position/save')}" method="post">
                                <div class="form-group">
                                    <label for="name">分类名</label>
                                    <input type="text" name="name" class="form-control" id="name" placeholder="分类名">
                                </div>
                                <div class="form-group">
                                    <label for="mname">分类级</label>
                                    <input type="text" name="level" class="form-control" id="level" readonly value="1">
                        </div>
                                <div class="form-group">
                                    <label for="aname">UPID</label>
                                    <input type="text" name="upid" class="form-control" id="upid" readonly value="0">
                                </div>
                                <button type="submit" class="btn btn-success">添加</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End content here -->
    <!-- ============================================================== -->

</div>
<!-- End right content -->
{/block}