<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>编辑职位信息</title>
    {css href="/static/admin/assets/libs/layui/css/layui.css"}
    {css href="/static/admin/kindeditor/themes/default/default.css"}
</head>
<body>

<div class="layui-container" style="margin-top: 20px;">
    <div class="layui-fluid">
        <div class="layui-col-md12">
            <form class="layui-form">
                <div class="layui-form-item" style="">
                    <label class="layui-form-label">职位名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" value="{$data['title']}"  placeholder="请输入职位信息名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职位薪资</label>
                    <div class="layui-input-block">
                        <input type="text" name="pay" required  lay-verify="required" value="{$data['pay']}"  placeholder="请输入职位薪资" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">工作年限</label>
                    <div class="layui-input-block">
                      
                        <select name="age" lay-verify="">
                            <option value="0" {$data.age!= 0 ? '' :'selected' }>不限</option>
                            <option value="1" {$data.age!= 1 ? '' :'selected' }>应届毕业生</option>
                            <option value="2" {$data.age!= 2 ? '' :'selected' }>3年以下</option>
                            <option value="3" {$data.age!= 3 ? '' :'selected' }>3-5年</option>
                            <option value="4" {$data.age!= 4 ? '' :'selected' }>5-10年</option>
                            <option value="5" {$data.age!= 5 ? '' :'selected' }>10年以上</option>
                            <option value="6" {$data.age!= 6 ? '' :'selected' }>无要求</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">要求学历</label>
                    <div class="layui-input-block">
                       
                        <select name="education" lay-verify="">
                            <option value="0" {$data.education!= 0 ? '' :'selected' }>不限</option>
                            <option value="1" {$data.education!= 1 ? '' :'selected' }>大专</option>
                            <option value="2" {$data.education!= 2 ? '' :'selected' }>本科</option>
                            <option value="3" {$data.education!= 3 ? '' :'selected' }>硕士</option>
                            <option value="4" {$data.education!= 4 ? '' :'selected' }>博士</option>
                            <option value="5" {$data.education!= 5 ? '' :'selected' }>无要求</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">兼职/全职</label>
                    <div class="layui-input-block">
                        <input type="radio" name="isdisplay" value="1" title="全职" {$data['isdisplay'] == 1 ? 'checked' : ''}>
                        <input type="radio" name="isdisplay" value="2" title="兼职" {$data['isdisplay'] == 2 ? 'checked' : ''}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">企业名</label>
                    <div class="layui-input-block">
                        <select name="cid" lay-verify="" >
                            {volist name="list" id="v"}
                            <option value="{$v['id']}" {$data['cid']==$v['id']?'selected':''} >{$v['name']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职位分类</label>
                    <div class="layui-input-block">
                        <select name="jcid" lay-verify="">
                            {volist name="categorylist" id="category"}
                            <option value="{$category.id}" {$data['jcid']==$category['id']?'selected':''} >{$category.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职位诱惑</label>
                    <div class="layui-input-block">
                        <input type="text" name="lure" required  lay-verify="required" value="{$data['lure']}"
                               placeholder="请输入职位诱惑" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">请输入职位描述</label>
                    <div class="layui-input-block">
                        <textarea name="content" placeholder="请输入职位描述" class="layui-textarea">{$data['content']}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="update-btn">立刻提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{js href="/static/admin/assets/libs/jquery/jquery-1.11.1.min.js"}
{js href="/static/admin/assets/libs/layui/layui.all.js"}
{js href="/static/admin/kindeditor/kindeditor-all.js"}
{js href="/static/admin/kindeditor/lang/zh_CN.js"}
<script>

    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(update-btn)', function (data) {

            var index = parent.layer.getFrameIndex(window.name);

            $.ajax({
                    type : 'put',
                    url : '/occupation/' + {$data.id},
                data : data.field,
                dataType : 'json',
                success : function (data) {
                if(data.status) {
                    parent.layer.msg(data.msg, {icon: 1, time: 1500});
                } else {
                    parent.layer.msg(data.msg, {icon: 2, time: 1500});
                }
                //关闭iframe
                setTimeout(function(){
                    parent.location.reload();
                    parent.layer.close(index);
                },2000);
            },
            error: function () {
                layer.msg('aJax执行失败!');
            }
        });

            return false;
        });
    });

    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            allowFileManager : false,
            afterBlur: function () { this.sync(); }
        });
    });
</script>
</body>
</html>